*,
    *:before,
    *:after {
      margin: 0;
      padding: 0;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }

#centerpage{
	margin: 50px auto;
	max-width: 960px;
	display: flex;
	flex-flow: column;
	justify-content: space-around;
	align-content: center;
}
.flexcolumn{
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-content: center;
}
.headercenter{
	display: inline-flex;
	flex-flow: row;
	justify-content: space-between;
	padding: 10px;
	margin: 10px;
}
.container{
	border-width: 2px;
	border-color: black;
	border-spacing: 3px;
	border-style: solid;
	margin-top: 30px;
	margin: 10px;
	background-color: rgba(0,0,0,0.5);
}
#commands{
	font-size: 0.8em;
}
.wordemphasis{
	color: yellow;
	font-family: 'Oswald', sans-serif;
	font-size: 1.3em;

}
h1{
	position: center;
	font-size: 3em;
	font-family: 'Rammetto One', cursive;
	color: black;
	margin-bottom: 20px;
}
h2{
	font-family: 'Rammetto One', cursive;
	color: black;
}
p{
	font-size: 1.5em;
	line-height: 1.5em;
	font-family: 'Roboto', sans-serif;
	padding: 5px;
	color: black;
}
ul{
	list-style: square;
	list-style-position: inside;
	font-size: 1.5em;
	line-height: 1.5em;
	font-family: 'Roboto', sans-serif;
	padding: 5px;
	color: black;
}
nav>ul>li{
	display: inline-flex;
	flex-flow: row;
	margin: 0 auto;
	justify-content: space-around;
	padding: 10px;
	margin: 10px;
	list-style-type: none;
	align-content: center;
	text-decoration: none;	
	color: black;
}
a{
	color: black;
	list-style: none;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
footer{
	font-size: 1em;
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-content: center;
	margin-bottom: 15px;
	color: black;
}